html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    color: #151d21;
    overflow-x: hidden;
}

.wrapper {
    flex: 1 0 auto;
}

header {
    position: relative;
    background: linear-gradient(180deg, #7cd0fc 0%, #65afcd 25%, #4d959f 65%, #f2f2f2 100%);
    padding-top: 80px;
}

section {
    margin-top: 3rem;
}

.header-title {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

header h1 {
    font-weight: 500;
    color: #222;
}

.vscodeimg {
    height: 30.3rem;
    border-radius: 10px;
}
 
nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    min-height: 4rem;
    background-color: #151d21;
    padding: 14px;
    align-items: center;
}

.nav-img-title {
    display: inline-block;
    padding-right: 20px;
}

.nav-img-title img {
    width: 150px;
    height: 40px;
}

.nav-menu {
    color: #fff;
    float: right;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-menu-btn {
    color: #fff;
    padding: 10px;
    display: block;
    border-radius: 10px;
    margin-right: 10px;
}

.nav-menu-btn:hover {
    background-color: #ffffff30;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mobile-nav {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.mn-hidden {
    display: none;
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.sidenavbar {
    margin-left: -200px;
}

.text-center {
    text-align: center;
}

.small {
    font-size: 17px;
    color: #dedede;
}

.btn-black {
    background-color: #151d21;
    color: #fff;
    box-shadow: 0px 0px 5px 0px #303030;
    transition: box-shadow .3s;
}

.btn-black:hover {
    box-shadow: 0px 0px 20px 0px #303030;
}

/*Courses*/

.tutorials {
    box-shadow: 0 0 10px 1px #00000030;
    background-color: #fff;
    border-radius: 10px;
    margin: 1rem 0;
}

.tutorial-grid {
    list-style-type: none;
    padding: 14px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(17rem,1fr));
    grid-gap: 2rem;
}

.tutorial-box {
    background: #151d21;
    box-shadow: 0px 0px 20px 0px #111;
    position: relative;
    border-radius: 6px;
    transition: box-shadow .5s;
    height: 185px;
    color: #fff;
}

.tutorial-box:hover {
    box-shadow: 0px 0px 5px 0px #151d21;
}

.how-to {
    border-top: 25px solid #42ade2;
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
}

footer {
    background-color: #222222;
    color: #fff;
    flex-shrink: 0;
}

footer a:hover {
    color: #e2e2e2;
}

/*------------------------------------------------------*/

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    background-color: #d4d4d4;
    color: #000;
    padding-top: 10px;
    display: block;
}

.sidebar a {
    padding: 10px;
    font-size: 16px;
    display: block;
    transition: background-color .3s;
}
   
.sidebar a:hover {
    background-color: #00000020;
}

.sidebar a.active {
    background-color: #0044ffbb;
    color: #fff;
}
  
.sidemain {
    margin-left: 200px;
    padding: 20px;
}

pre {
    margin: 0;
}

code {
    padding-left: 20px !important;
    border-radius: 10px;
    overflow-y: auto;
}

kbd {
    background-color: #222222;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}


/*------------------------------------------------------*/
@media only screen and (max-width: 768px) {


}

@media only screen and (max-width: 425px) {
    .mn-hidden {
        display: block;
    }

    .nav-menu ul {
        display: none;
    }

    .vscodeimg {
        height: 24.8rem;
    }

    header h1 {
        font-size: 20px;
    }

    .sidebar {
        margin-left: -200px;
    }

    .sidemain {
        margin-left: 0px !important;
    } 

}

@media screen and (prefers-color-scheme: light) {

    body {
        background-color: #f2f2f2;
        color: #151d21;
    }

    header {
        background: linear-gradient(180deg, #7cd0fc 0%, #65afcd 25%, #4d959f 65%, #f2f2f2 100%);
    }

    header h1 {
        color: #222;
    }

    .tutorials {
        background-color: inherit;
    }
    
    .sidebar {
        background-color: #d4d4d4;
        color: #000;
    }
}

.rms {
    transform: none;
    visibility: hidden;
}

.dark-toggle {
    background-color: #222222;
    border-radius: 50px;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-size: 20px;
    display: flex;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}