body {
    background-color: #f2f2f2;
    color: #151d21;
    overflow-x: hidden;
}

header {
    position: relative;
    background: linear-gradient(173deg, rgba(124,208,252,1) 0%, rgba(101,175,205,1) 25%, rgba(77,149,159,1) 55%, rgba(242,242,242,1) 56%);
    padding-top: 80px;
}

section {
    background: linear-gradient(353deg, rgba(124,208,252,1) 0%, rgba(101,175,205,1) 25%, rgba(77,149,159,1) 55%, rgba(242,242,242,1) 56%);
}

.header-title {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

header h1 {
    font-weight: 500;
    color: #222;
}

.vscodeimg {
    height: 30.3rem;
    border-radius: 10px;
}
 
nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 4rem;
    background-color: #151d21;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    padding: 14px;
    align-items: center;
}

.nav-img-title {
    display: inline-block;
    padding-right: 20px;
}

.nav-img-title img {
    width: 150px;
    height: 40px;
}

.nav-menu {
    color: #fff;
    float: right;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
}

.nav-menu-btn {
    color: #fff;
    padding: 10px;
    display: block;
    border-radius: 10px;
    margin-right: 10px;
}

.nav-menu-btn:hover {
    background-color: #ffffff30;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mobile-nav {
    float: right;
    cursor: pointer;
    display: none;
    font-size: 20px;
}

.sidenavbar {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #f2f2f2;
    color: #000;
    overflow-x: hidden;
    padding-top: 10px;
    margin-left: -180px;
}

.sidenavbar a {
    padding: 10px;
    text-decoration: none !important;
    font-size: 16px;
    display: block;
}
   
.sidenavbar a:hover {
    background-color:  #b3b3b3;
    color: #000;
}

.sidenavbar a.active {
    background-color: #0044ffbb;
    color: #fff;
}

.text-center {
    text-align: center;
}

.small {
    font-size: 17px;
    color: #dedede;
}

.btn-black {
    background-color: #151d21;
    color: #fff;
    box-shadow: 0px 0px 5px 0px #151d21;
}

.btn-black:hover {
    box-shadow: 0px 0px 10px 0px #151d21;
}

/*Courses*/

.courses {
    padding-top: 40px;
    padding-bottom: 40px;
}

.tutorial-grid {
    list-style-type: none;
    padding: 14px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(17rem,1fr));
    grid-gap: 2rem;
}

.tutorial-box {
    background: #151d21;
    box-shadow: 0px 0px 20px 0px #0000006e;
    position: relative;
    border-radius: 6px;
    transition: box-shadow .5s;
    height: 185px;
    color: #fff;
}

.tutorial-box:hover {
    box-shadow: 0px 0px 5px 0px #151d21;
}

.how-to {
    border-top: 25px solid #42ade2;
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
}

footer {
    background-color: #222222;
    color: #fff;
}

footer a:hover {
    color: #e2e2e2;
}

@media only screen and (max-width: 768px) {

    header {
        background: linear-gradient(165deg, rgba(124,208,252,1) 0%, rgba(101,175,205,1) 25%, rgba(77,149,159,1) 60%, rgba(242,242,242,1) 61%);
    }

    section {
        background: linear-gradient(345deg, rgba(124,208,252,1) 0%, rgba(101,175,205,1) 25%, rgba(77,149,159,1) 55%, rgba(242,242,242,1) 56%);
    }

}

@media only screen and (max-width: 425px) {
    .mobile-nav {
        display: block;
    }

    .nav-menu ul {
        display: none;
    }

    .vscodeimg {
        height: 24.8rem;
    }

    header h1 {
        font-size: 20px;
    }

}
