.dark {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.dark header {
    background: linear-gradient(#2a5298, #1e3c72, #1e1e1e 85%);
}

.dark header h1 {
    color: #e0e0e0;
}

.dark .btn-black:hover {
    box-shadow: 0px 0px 10px 0px #555555;
}

.dark .tutorials {
    background-color: #222;
}

.dark .sidebar {
    background-color: #2e2e2e;
    color: #e0e0e0;
}


@media screen and (prefers-color-scheme: dark) {

    body {
        background-color: #1e1e1e;
        color: #e0e0e0;
    }

    header {
        background: linear-gradient(#2a5298, #1e3c72, #1e1e1e 85%);
    }

    header h1 {
        color: #e0e0e0;
    }

    .btn-black:hover {
        box-shadow: 0px 0px 10px 0px #555555;
    }

    .tutorials {
        background-color: #222;
    }
    
    .sidebar {
        background-color: #2e2e2e;
        color: #e0e0e0;
    }

}