a {
    text-decoration: underline !important;
}

a:hover {
    color: rgb(65, 63, 63);
}

pre {
    margin: 0;
}

code {
    padding-left: 20px !important;
    border-radius: 10px;
    overflow-y: auto;
}

kbd {
    background-color: #222222;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}

nav {
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 2;
    min-height: 4rem;
    background-color: #151d21;
    box-shadow: 0 5px 10px 0px #00000050;
    padding: 14px;
    align-items: center;
    width: 100%;
}

nav .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    float: right;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    list-style-position: inside;
}
  
nav li {
    list-style-type: none;
    cursor: pointer;
}

nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    font-size: 17px;
}
  
nav a:hover {
    background-color: #ddd;
    color: black;
}
  
nav a.active {
    background-color: #ddd;
    color: black;
}

.navtitle {
    float: left;
    font-size: 26px;
    padding: 8px 0px 8px 16px;
}

.mobile-nav {
    float: right;
    cursor: pointer;
    display: none;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #000000;
    color: #000;
    overflow-x: hidden;
    padding-top: 82px;
}

.sidebar a {
    padding: 10px;
    text-decoration: none !important;
    font-size: 16px;
    display: block;
}
   
.sidebar a:hover {
    background-color:  #b3b3b3;
    color: #000;
}

.sidebar a.active {
    background-color: #0044ffbb;
    color: #fff;
}
  
.sidemain {
    margin-left: 180px; 
    padding: 20px 20px 20px 20px;
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
    border: .5px solid rgb(152, 152, 152);
}


@media only screen and (max-width: 425px) {
    .mobile-nav {
        display: block;
    }

    .sidebar {
        margin-left: -180px;
    }

    .sidemain {
        margin-left: 0;
    }

    nav .nav-menu {
        float: none;
    }
}